<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meow-itel category page</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <nav class="nav">
                <a href="index.html">
                    <div class="logo">
                        <h1>Meow-itel</h1>
                    </div>
                </a>
                <div>
                    <ul class="nav-links">
                        <li class="add">
                            <a href="add.html">Add Post</a>
                        </li>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Themes</a>
                        </li>
                        <li>
                            <a href="login.html">Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="main">
                <div class="category-menu">
                    <ul class="category-links">
                        <li>
                            <a class="category-link" href="#">Auto</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Animals</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Home and Garden</a>
                        </li>
                        <li>
                            <a class="category-link" href="category.html">Electronics</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Business & Services</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Fashion & Style</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Baby items</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Hobbies</a>
                        </li>
                        <li>
                            <a class="category-link" href="#">Other</a>
                        </li>
                    </ul>
                </div>
                <div class="post-block">
                    <div class="line">
                        <div class="block-name">
                            Electronics:
                        </div>
                    </div>
                    <div class="line">
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                    </div>    
                    <div class="line">
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                    </div>    
                    <div class="line">
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="linked-post">
                            <div class="post">
                                <div class="img">
                                    <img src="imgs/Canon400D.jpg" alt="Photo">
                                </div>
                                <span class="title-price">
                                    <span>Canon 400D + příslušenství</span>
                                    <span class="price">
                                        <span>Price:</span>
                                        <span>$$$$$</span>
                                    </span>
                                </span>
                                <div class="post-text">
                                    <p>Prodám plně funkční Canon 400D + příslušenství. 4x baterie (2x originální baterie Canon Li-ion , 2x neoriginální baterie), sluneční clona JJC lens hood for 60C, paměťová karta 2GB, objektiv EFS 18-55mm.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <footer class="footer-h"> 
                <div>
                    <p>Updated: 23.11.2021</p>
                    <a href="https://github.com/LebedevIurii/zwa">Open source</a>
                </div>
            </footer>
        </div>
        <script src="script/category.js"></script>
    </div>
</body>
</html>