<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meow-itel User page</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <nav class="nav">
                <a href="index.html">
                    <div class="logo">
                        <h1>Meow-itel</h1>
                    </div>
                </a>
                <div>
                    <ul class="nav-links">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">Themes</a>
                        </li>
                        <li>
                            <a href="login.html">Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="profile-content">
            <div class="user-field">
                <div class="title profile">
                    Uživatelcký profil
                </div>
                <div class="avatar-image">
                    <img src="imgs/user.png" alt="avatar">
                </div>
                <div class="profile-info">
                    <div class="name">
                        <span class="manual">Jmeno: </span>
                        <span class="nickname">Louis Le Prince</span>
                    </div>
                    <div class="contact">
                        <span class="manual">E-mailová Adresa:</span>
                        <a href="mailto:">louice.le.prince@gmail.com</a>
                    </div>
                    <div class="users-posts">
                        <div>
                            <div class="manual">
                                <p>Poslední inzeráty:</p>
                            </div>
                            <div class="history-links">
                                <ul>
                                    <li>
                                        <a href="post.html">Canon 400D + příslušenství</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>